body{
    font-family:sans-serif;
}
.container{
    margin:auto ;
    background-color:beige;
    width:500px;
    text-align:center;
    padding-top:2px;
    border:solid beige 10px;
    border-radius: 10px;
    box-shadow: 5px 5px #d4cdcd;

}
.sign-up-heading{
    margin-top:20px;
}
table{
    display:inline-block;
    border-collapse:separate;
    border-spacing:2.6rem 1.5rem;


}
.form-label {

    font-weight: 300;
    font-size:18px;
    text-align:left;
    float:left;

}
.form-input{
    font-size:18px;

}

input::placeholder{
    font-size: 12px;
}

.check-box{
    text-align:center;;
}

#submit-btn{
    background-color:rgb(27, 27, 2);
    border-color: blanchedalmond;
    border-radius: 10px;;
    color:white;
    cursor: pointer;
    margin:15px;
    width:90px;
    height:25px;
}
#submit-btn:hover{
    background-color:rgb(106, 90, 90);

}
a{
    text-decoration: none;
    color:blue;

}

/* remove arow in number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}


.red-color{
    color:red;
}
.green-color{
    color:rgb(28, 187, 28);
}

.color-msg{
    color:red;
    margin-left:10px;
}